@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i');
@import url('reset.css');
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #A4978C;
  width: 960px;
  margin: 0 auto;
}
#breeds ul {
  display: flex;
  flex-flow: row wrap;
}
.breed {
  width: 210px;
  margin: 0 15px 20px;
  text-align: center;
}
.breed a {
  text-decoration: none;
}
.breed img {
  border: 1px solid rgba(164, 151, 140, 0.2);
  display: block;
  margin-bottom: 6px;
}
.breed .name {
  color: #D60085;
  width: 500;
  display: block;
}
.breed .traits {
  color: #A4978C;
  font-style: italic;
  font-weight: 300;
}
h1 {
  color: #686059;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 4rem;
}
header {
  margin: 24px 15px 16px;
}
html {
  font-size: 10px;
}
#modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(104, 96, 89, 0.8);
  display: none;
}
#modal.on {
  display: block;
}
.modal-body {
  position: relative;
  width: 800px;
  box-sizing: border-box;
  padding: 20px 15px;
  margin: 40px auto;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 370px 210px 130px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-areas: "name  traits group" "image info   info" "dyk   dyk    dyk";
}
.modal-body h2 {
  grid-area: name;
  color: #686059;
  font-size: 2.3rem;
  line-height: 4rem;
  font-weight: 500;
}
.modal-body img {
  grid-area: image;
  border: 1px solid rgba(164, 151, 140, 0.2);
}
.modal-body .traits {
  grid-area: traits;
  color: #D60085;
  font-style: italic;
  font-weight: 500;
  padding-top: 12px;
  margin-bottom: 0;
}
.modal-body .group {
  grid-area: group;
  font-style: italic;
  text-align: right;
  padding-top: 12px;
  margin-bottom: 0;
}
.modal-body .info {
  grid-area: info;
}
.modal-body .info dl {
  display: flex;
}
.modal-body .info dl dt {
  margin-right: 15px;
  font-weight: 300;
  font-style: italic;
}
.modal-body .info dl dd {
  margin-right: 30px;
  font-weight: 500;
}
.modal-body .dyk {
  grid-area: dyk;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.modal-body .dyk li {
  width: 370px;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(164, 151, 140, 0.2);
  margin-bottom: 20px;
}
.modal-body .close {
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 3.7rem;
  color: #686059;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-weight: 200;
  cursor: pointer;
}
p {
  margin-bottom: 10px;
}